body {
    font-size: 16px;
    font-family: 'Roboto';
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto Black';
    font-weight: 900;
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

a:visited, a:link{
    color: black;
    font-family: roboto;
    font-size: 1.4em;
}

#site-title {
    background-color: rgb(234, 234, 234);
    text-align: center;
}

.nav-menu {
    padding: 10px;
    background-color:rgb(155, 213, 230);
    text-align: center;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.list-inline{
    padding: 10px 60px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-family: roboto;
}

h2 {
    padding: 10px;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

h3 {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.4em;
    text-align: center;
    font-weight: 100;
}

.img-float-right {
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    max-width: 250px;

}

p {
    line-height: 1.2em;
    text-align: justify;
}

.sec-width {
    width: 65%;
    max-width: 75%;
    display: inline-block;
}

aside {
    border-left: 1px solid rgb(197, 197, 197);
    position: absolute;
    width: 30%;
    display: inline-block;
    text-align: center;
    max-width: 300px;
    padding-left: 10px;
}

video {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-p {
    padding: 0px 20px;
}

.p-table-height {
    min-height: 300px;
}

em {
    font-style: italic;
}

.table-float-right {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.4em;
    border-left: 3px solid rgb(97, 97, 97);
    border-bottom: 3px solid rgb(97, 97, 97);
    border-top: 3px solid rgb(212, 212, 212);
    border-right: 3px solid rgb(212, 212, 212);
}

tr td {
    background-color: rgb(188, 222, 232);
}

td {
    padding: 5px;
    border: 2px solid white;
}

.td-1 {
    background-color: rgb(229, 229, 229);
}

.img-alone {
    display: block;
    margin: 10px 0px;
    /* margin-left: auto;
    margin-right: auto; */
    object-fit:contain;
    max-width: 100%;
}

.image-bg-full {
    /* overflow: hidden; */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Odontodactylus_scyllarus1.jpg/1920px-Odontodactylus_scyllarus1.jpg);
    background-size: cover;
    height: 400px;
    background-color: black;
    background-repeat: no-repeat;
    background-position-y: 40%;
    max-width: 100%!important
}

.container-over-bg {
    margin-left: 10%;
    padding-top: 280px;
}

.text-over-bg1 {
    display: inline;
    font-family: 'Noto Sans Mono';
    font-size: 1.4em;
    padding: 10px;
    background-color: black;
    color: white;
}

.text-over-bg2 {
    display: inline;
    font-family: 'Noto Sans Mono';
    font-size: 1.4em;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.p-padding-top {
    padding: 20px;
}

.img-float-left {
    float: left;
    height: 280px;
    padding: 20px;
}

.p-with-aside {
    min-height: 660px;
}

.section-last {
    height: 320px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: rgb(214, 214, 214);
}