body {
  background-color: gray;
}

button {
  padding: 10px 20px;
}

.btn-container {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#image-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

img {
  max-width: 800px;
}